$activeColorRed: #f54932;
$activeColorYellow: #fbce51;
$activeColorBlue: #3057a2;
$activeColorBlack: #1f1f1f;
$disabledColor: #d6d6d6;
$layoutBgColor: #e9ded4;
$secondaryBgColor: #8b8b8b;
$textColor: #313131;
